{% extends 'base.html' %} {% block content %}
<div class="container">
	<div class="row my-4">
		<div class="col-12 col-md-3">
			<h2 class="text-light">Add Business</h2>
			<form action="" method="POST">
				{% csrf_token %}
				<div class="mb-3">
					<label for="{{form.businessName.auto_id}}" class="form-label text-light">
						Business Name
					</label>
					{{form.businessName}}
				</div>
                <div class="mb-3">
					<label for="{{form.businessPhone.auto_id}}" class="form-label text-light">
						Business Phone Number
					</label>
					{{form.businessPhone}}
				</div>
                <div class="mb-3">
					<label for="{{form.businessEmail.auto_id}}" class="form-label text-light">
						Business Email Address
					</label>
					{{form.businessEmail}}
				</div>
				<div class="mb-3">
					<label for="{{form.businessDescription.auto_id}}" class="form-label text-light">
						Describe your Business
					</label>
					{{form.businessDescription}}
				</div>
				<button type="submit" class="btn btn-primary shadow">Add</button>
			</form>
		</div>
		<div class="col-12 col-md-8 ms-4">
			<h2 class="text-light">Available Business in the Hood </h2>
			<div>
				{% if businesses %} {% for business in businesses %}
				<div class="card">
					<div class="card-header text-light">{{business.businessName}}</div>
					<div class="card-body">
						<p class="mt-3 text-light">{{business.bussinessDescription }}</p>
						<p class="mt-3 text-light">{{business.businessPhone}}</p>
						<p class="mt-3 text-light">{{business.businessEmail}}</p>
					</div>
				</div>
				{% endfor %} 
                {% else %}
                <div class="my-4">
                    <p class="text-light text-center fs-3">
                        No, Businesses in this Hood
                    </p>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
