{% extends 'base.html' %} {% block content %}

<div
	style="height: 100vh;"
	class="container d-flex align-items-center justify-content-center"
>
	<div style="background-color: #102340; border-radius: 1.2rem;" class="w-100 py-3 shadow ">
		<div class="d-flex align-items-center justify-content-around">
			<div >
				<p class="text-light text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Join Hood</p>
				<form action="/join-hood">
					<div class="mb-3">
						<select class="form-select" aria-label="Default select example">
							<option selected>Open this select menu</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div>
				<p class="text-light text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create Hood</p>
				<form action="/create-hood">
					<div class="mb-3">
						<label for="exampleInputPassword1" class="text-light form-label">
                            Hood Name
                        </label>
						<input type="text" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="text-light form-label">
                            Hood Location
                        </label>
						<input type="text" class="form-control" />
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
